@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "quicksand-regular";
  }
}

body {
  @apply bg-base-300;
}

@font-face {
  font-family: "quicksand-light";
  src: url("/pictashare/fonts/quicksand-light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "quicksand-medium";
  src: url("/pictashare/fonts/quicksand-medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "quicksand-regular";
  src: url("/pictashare/fonts/quicksand-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "quicksand-semibold";
  src: url("/pictashare/fonts/quicksand-semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "quicksand-bold";
  src: url("/pictashare/fonts/quicksand-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  @apply text-white;
}

.button {
  @apply py-3 px-6 font-extrabold text-lg bg-white text-black rounded-lg relative inline-block h-auto transition-transform duration-300;
}

.button::after {
  content: "";
  @apply absolute top-0 left-0 w-full h-full bg-black z-20 rounded-lg opacity-0 transition-opacity duration-150;
}

.button:hover::after {
  @apply opacity-20;
}

.button.outline {
  @apply bg-transparent outline-2 outline-white text-white -outline-offset-2 transition-all duration-300;
}

.button.outline:hover {
  @apply bg-white text-black;
}

.button.outline::after {
  @apply hidden;
}

.button.ghost {
  @apply bg-transparent text-white;
}

.button.ghost::after {
  @apply bg-white;
}

.form-input {
  @apply rounded-lg border-base-200 bg-transparent border-2 mb-4;
}

.form-input.profile-input {
  @apply border-base-100;
}

.submit {
  @apply w-full bg-white border-none text-black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--bg-base-300) inset !important;
}

.file-upload {
  @apply relative;
}

.file-upload::after {
  content: "Upload custom image";
  @apply absolute top-0 left-0 w-full h-full bg-black bg-opacity-30 flex justify-center items-center opacity-0 transition-opacity duration-200 text-center p-2;
}

.file-upload:hover::after {
  @apply opacity-100;
}

#imageBox {
  @apply w-full;
}

#imageBox:has(img) {
  @apply w-fit mx-auto h-fit min-h-fit;
}

#imageBox:has(img) div {
  @apply h-fit min-h-fit;
}

#preview:has(img) div {
  @apply opacity-0 transition-opacity duration-300;
}

#preview:hover:has(img) div {
  @apply opacity-100;
}

.tag-container p {
  @apply py-1 px-2 bg-base-100 rounded-lg cursor-pointer text-sm -mt-2 flex items-center;
}

.tag-container p::before {
  content: "";
  background-image: url(/pictashare/images/x.svg);
  @apply w-4 h-4 block bg-cover;
}

.gallery-image {
  min-height: 10px;
}

/* Detta är en dropdown meny tagen från open source projektet daisy ui, orkade inte fixa javascript för att använda en så dennna fungerar via focus i css */
.dropdown {
  @apply relative inline-block;
}

.dropdown > *:focus {
  @apply outline-none;
}

.dropdown .dropdown-content {
  @apply invisible absolute z-50 opacity-0;
}

.dropdown-end .dropdown-content {
  @apply right-0;
}

.dropdown.dropdown-open .dropdown-content,
.dropdown.dropdown-hover:hover .dropdown-content,
.dropdown:not(.dropdown-hover):focus .dropdown-content,
.dropdown:not(.dropdown-hover):focus-within .dropdown-content {
  @apply visible opacity-100;
}
/* slut av stjälning */

.dropdown-content {
  @apply rounded-lg;
}

.dropdown-content li {
  @apply hover:bg-base-200 transition-colors duration-200 p-2 px-3;
}
